@import url(./navbar.css);
@import url(./footer.css);

/*Home page styling */

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10rem 1fr auto;
}


.main-top {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  .slogan {
    position: relative;
    top: -25%;
    left: auto;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Playball', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  /*Home page END */

/*Blog list styling */
/*Blog list styling END */


/*Spesific styling */
/*Spesific styling END */


/*About us styling */

.whole-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: row-reverse;
    align-items: center;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 1000px;
}

.about-img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-right: 50px;
    object-fit: cover;
    
}

.info {
    flex: 1;
    padding: 20px;
    letter-spacing: 2px;
}

.info h2 {
    padding-bottom: 20px;
    font-family: 'Playball', cursive;
    font-size: 40px;
}

@media only screen and (max-width: 768px) {
    .whole-about {
      flex-direction: column;
      padding: 50px 10px;
    }
  
    .about-img {
      margin-right: 0;
      margin-bottom: 30px;
    }
  
    .about-img,
    .info {
      width: 100%;
      text-align: center;
    }
  }
 
/*About us styling END */

/*Contact us page styling start */

.whole-contact h2 {
    font-family: 'Playball', cursive;
    font-size: 40px;
    margin-bottom: 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-contact p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #000000;
    color: #ffffff;
    padding: 35px;
    margin-bottom: 2rem;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form select,
  .contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .contact-form input[type="submit"] {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
  }

/*Contact us page styling END */

/* Home Page slider for Blogs */

.blog-slider {
    background-color: blue;
    height: 30rem;
}

.blog-category {

}

.prv-btn {

}

.nxt-btn {

}

.blog-card {
  display: flex;

  outline: 1px dashed green;
  overflow: scroll;
  

}

.slide {
flex: 1 0 100%;
width: 100%;
}
  
.blog-card:nth-child(1) {
  background-color: orange;
}
.blog-card:nth-child(2) {
  background-color: rgb(255, 0, 179);
}
.blog-card:nth-child(3) {
  background-color: rgb(255, 0, 0);
}