@import url(./navbar.css);
@import url(./footer.css);
@import url(./blogspage.css);

/*Home page styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10rem 1fr auto;
}

.index-body {
  grid-template-rows: 20rem 1fr auto;
}


.index-main {
display: grid;
grid-template-columns: 100%;
grid-template-rows: min-content 30rem;
}
.main-top {
background-color: rgb(0, 0, 0);
  }
  
/*Home page END */

 
/* Home page SLIDER styling START */

.slider-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
}
/*Home page SLIDER styling END */

/* Cards styling */

.card {
  flex: 1 0 34%;
  box-shadow: 0 4px 14px;
  padding: 5px;
  border-radius: 0.5rem;
  border: solid;
}

.card-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 1300;
  text-transform: uppercase;
  margin-top: 6px;
}


.card-date {
  display: flex;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 4px;
}


.card-description  {
  margin: 5px 0 20px;
  padding-bottom: 10px;
}

.card p {
  font-size: 1rem;
  /* To keep the description in 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* Blog List page start */ 

.blog-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-post {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
}

.blog-post:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-post img {
  width: 200px;
  height: 250px;
  margin-right: 1.5rem;
  border-radius: 8px;
}

.blog-post-content {
  flex: 1;
}

.blog-post h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.blog-post p {
  margin-bottom: 0.5rem;
}

.blog-post span {
  font-size: 0.8rem;
  color: #777;
}


@media only screen and (max-width: 768px) {
  .blog-post {
    flex-basis: calc(50% - 1rem);
  }
}

@media only screen and (max-width: 576px) {
  .blog-post {
    flex-basis: 100%;
  }
};

.view-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 180px;
  height: 52px;
  text-transform: uppercase;
  background-color: var(- -dark-color);
  color: var(- -white-color);
  margin: 0 auto;
  border-radius: 30px;
  transition: all .3s ease-out;
}

.view-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 180px;
  height: 52px;
  text-transform: uppercase;
  background-color: var(- -dark-color);
  color: var(- -white-color);
  margin: 0 auto;
  border-radius: 30px;
  transition: all .3s ease-out;
}

/*About us styling */

.whole-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: row-reverse;
  align-items: center;
  margin: 0 auto;
  padding: 20px 20px;
  max-width: 1000px;
}

.about-img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin-right: 50px;
  object-fit: cover;
  
}

.info {
  flex: 1;
  padding: 20px;
  letter-spacing: 2px;
}

.info h2 {
  padding-bottom: 20px;
  font-family: 'Playball', cursive;
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  .whole-about {
    flex-direction: column;
    padding: 50px 10px;
  }

  .about-img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about-img,
  .info {
    width: 100%;
    text-align: center;
  }
}

/*About us styling END */


/*Contact us page styling start */

.whole-contact h2 {
  font-family: 'Playball', cursive;
  font-size: 40px;
  margin-bottom: 1rem ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole-contact p {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
  padding: 35px;
  margin-bottom: 2rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select,

.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

.contact-form input[type="submit"] {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
}

/*Contact us page styling END */

/* Spesific page styling START */

.specific-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}


.specific-blog-post {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.specific-blog-post h1 {
  font-size: 32px;
  margin: 10px 0;
}

.specific-blog-post span {
  font-size: 14px;
  color: #777777;
}

.specific-blog-post p {
  margin: 20px 0;
  font-size: 20px
}


.back-link {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #777777;
  text-decoration: none;
  font-size: 18px;
}

/* Spesific page styling END */




